:host {
  text-align: center;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

tr:nth-child(odd) {
  background: #fff;
}

th,
td {
  padding-left: 1rem;
  padding-right: 1rem;
}

table {
  margin: 0 auto;
}

@mixin lockWidth($percentage) {
  max-width: #{$percentage + "%"};
  width: #{$percentage + "%"};
  min-width: #{$percentage + "%"};
}

.side-bar {
  @include lockWidth(10);
}

.main-content {
  @include lockWidth(80);
}
