<mat-card>
  <mat-card-title> Time Range </mat-card-title>
  <mat-card-content>
    <form
      appDateTimeRangeSelectorValidator
      #timeRangeForm="ngForm"
      (submit)="OnSubmit(timeRangeForm)"
    >
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="datepicker"
          name="datePicker"
          id="datePicker"
          ngModel
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>
              Apply
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <div style="display: flex; flex-direction: row">
        <div style="flex-grow: 1"></div>
        <app-time-picker-snap
          name="startTimePicker"
          id="startTimePicker"
          ngModel
        ></app-time-picker-snap>
        <p style="font-size: 65px; margin: 0 2rem">-</p>
        <app-time-picker-snap
          name="endTimePicker"
          id="endTimePicker"
          ngModel
        ></app-time-picker-snap>
        <div style="flex-grow: 1"></div>
      </div>
      <mat-error *ngIf="timeRangeForm.errors?.['StartMustBeBefore']"
        >First time must be before second time.</mat-error
      >
      <button
        mat-stroked-button
        type="submit"
        [disabled]="timeRangeForm.errors"
        color="primary"
      >
        Select
      </button>
    </form>
  </mat-card-content>
</mat-card>
