<div *ngIf="Model">
  <app-user-legend [Model]="Model!.LegendModel"></app-user-legend>

  <div class="flex-row-scroll">
    <div class="flex-column" *ngFor="let coloredFrame of Model!.ColoredFrames">
      <mat-card class="padded-card">
        {{ coloredFrame.StartTime | date : "hh:mm aa" }}
      </mat-card>

      <div *ngFor="let color of coloredFrame.Color.reverse(); let i = index">
        <div class="card-clickable" [appColorElement]="color">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
