<app-team-selector (TeamSelected)="SubmitTeam($event)"></app-team-selector>

<mat-divider *ngIf="SelectedTeam"></mat-divider>

<app-date-time-range-selector
  *ngIf="SelectedTeam"
  (DateTimeRangeSelected)="SubmitRangeModel($event)"
></app-date-time-range-selector>

<mat-divider *ngIf="SelectedTimeRange"></mat-divider>

<app-grid-rendering-form
  *ngIf="SelectedTimeRange"
  (FormModel)="SubmitRenderModel($event)"
></app-grid-rendering-form>

<mat-divider *ngIf="RenderingModel"></mat-divider>

<app-grid-rendering-proposal
  *ngIf="RenderingModel"
  [Model]="RenderingModel!"
  (Proposal)="SubmitProposal($event)"
></app-grid-rendering-proposal>

<mat-divider *ngIf="GeneratedModel"></mat-divider>

<app-grid-rendering-generated
  *ngIf="GeneratedModel"
  [Model]="GeneratedModel"
></app-grid-rendering-generated>

<mat-divider *ngIf="GeneratedModel"></mat-divider>

<div *ngIf="GeneratedModel">
  <button mat-stroked-button color="primary" (click)="SubmitFinal()">
    Submit
  </button>
</div>

<app-message-modal-box
  #submitModal
  [Model]="SubmitModalModel"
></app-message-modal-box>
