<mat-card>
  <mat-card-title> Time Range </mat-card-title>
  <mat-card-content>
    <div style="display: flex; flex-direction: row; align-items: center">
      <div style="flex-grow: 1"></div>
      <div>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="datepicker1"
            [(ngModel)]="date1"
            (ngModelChange)="ModelChanged()"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="datepicker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker1>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
        <div style="display: flex; flex-direction: row">
          <div style="flex-grow: 1"></div>
          <app-time-picker-snap
            [(ngModel)]="time1"
            (ngModelChange)="ModelChanged()"
          ></app-time-picker-snap>
          <div style="flex-grow: 1"></div>
        </div>
      </div>

      <p style="font-size: 65px">-</p>

      <div>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="datepicker2"
            [(ngModel)]="date2"
            (ngModelChange)="ModelChanged()"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="datepicker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker2>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
        <div style="display: flex; flex-direction: row">
          <div style="flex-grow: 1"></div>
          <app-time-picker-snap
            [(ngModel)]="time2"
            (ngModelChange)="ModelChanged()"
          ></app-time-picker-snap>
          <div style="flex-grow: 1"></div>
        </div>
      </div>

      <div style="flex-grow: 1"></div>
    </div>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
