<app-team-selector
  [TeamType]="TeamType"
  (TeamSelected)="SubmitTeam($event)"
></app-team-selector>

<mat-divider *ngIf="SelectedTeam"></mat-divider>

<app-date-time-range-selector
  *ngIf="SelectedTeam"
  (DateTimeRangeSelected)="SubmitRangeModel($event)"
></app-date-time-range-selector>

<ng-container *ngIf="SelectedTimeRange">
  <mat-divider></mat-divider>

  <app-grid-legend-read-only [Model]="GridModel"></app-grid-legend-read-only>

  <button mat-stroked-button color="warn" (click)="RecallCommitmentsClicked()">
    Recall All Commitments
  </button>
</ng-container>

<app-message-modal-box
  #recallModal
  [Model]="RecalModalModel"
></app-message-modal-box>
