<h3>Choose Availability</h3>
<mat-divider></mat-divider>
<div style="text-align: center">
  <app-date-time-range-selector
    (DateTimeRangeSelected)="SelectedTimeRange($event)"
  ></app-date-time-range-selector>

  <div *ngIf="loading">
    <mat-spinner style="margin-right: auto; margin-left: auto"></mat-spinner>
  </div>

  <div *ngIf="currentAvailableModels.length !== 0">
    <mat-divider></mat-divider>

    <div>
      <mat-button-toggle
        *ngFor="let model of currentAvailableModels"
        class="card-clickable"
        [checked]="model.isSelected"
        (change)="model.isSelected = $event.source.checked"
        [disabled]="model.isDisabled"
      >
        {{ model.startTime | date : "hh:mm aa" }}
        -
        {{ model.endTime | date : "hh:mm aa" }}
      </mat-button-toggle>
    </div>

    <mat-divider></mat-divider>

    <div>
      <button (click)="OnSubmit()" mat-stroked-button color="primary">
        Submit
      </button>
    </div>
  </div>
</div>
