@use "@angular/material" as mat;
@import "../../styles.scss";

$primary: mat.get-color-from-palette(
  map-get($bandwidthscheduler-client-theme, primary),
  default
);

.home-button {
  font-size: 1.5rem;
}

.spacer {
  flex-grow: 1;
}

.span-holder {
  display: flex;
  align-items: center;
}

.primary-expansion-color {
  background-color: $primary;
}

label {
  cursor: pointer;
}

.nav-bar-spacer {
  margin-bottom: 1rem;
}

.pop-up-expansion-panel {
  position: absolute;
  z-index: 100;
  right: 0;
  width: 40%;
}

:host ::ng-deep .pop-up-expansion-panel .mat-expansion-panel-body {
  padding-top: 16px;
}
