<h3>Publish Schedule</h3>

<mat-divider></mat-divider>

<app-team-selector (TeamSelected)="SubmitTeam($event)"></app-team-selector>

<mat-divider *ngIf="SelectedTeam"></mat-divider>

<app-grid-rendering-form
  *ngIf="SelectedTeam"
  (FormModel)="SubmitRenderModel($event)"
></app-grid-rendering-form>

<mat-divider *ngIf="TimeFrames"></mat-divider>

<app-grid-rendering-proposal
  *ngIf="TimeFrames"
  [Model]="TimeFrames!"
  (Proposal)="SubmitProposal($event)"
></app-grid-rendering-proposal>

<mat-divider *ngIf="GeneratedModel"></mat-divider>

<app-grid-rendering-generated
  *ngIf="GeneratedModel"
  [Model]="GeneratedModel"
></app-grid-rendering-generated>
