<app-spinner-card
  [stretch]="SpinnerCardStretch"
  [spinnerActive]="WaitingOnSubmit"
  [ngClass]="{ 'card-disabled': !DbTeam }"
>
  <mat-card-title> Add/Remove Team Members </mat-card-title>
  <mat-card-content>
    <div class="flex-row" [inert]="WaitingOnSubmit">
      <mat-card class="grow-column-height">
        <mat-selection-list>
          <mat-list-option
            *ngFor="let user of DbNotSelectedUsers"
            (selectedChange)="user.IsSelected = $event"
            [selected]="user.IsSelected"
          >
            {{ user.Value.email }}
          </mat-list-option>
          <mat-list-option
            class="selected-change-items"
            *ngFor="let user of UserToRemoveChange"
            (selectedChange)="user.IsSelected = $event"
            [selected]="user.IsSelected"
          >
            {{ user.Value.email }}
          </mat-list-option>
        </mat-selection-list>
      </mat-card>
      <div class="center-shrink-column">
        <button mat-stroked-button color="primary" (click)="SelectUsers()">
          &gt;
        </button>
        <button mat-stroked-button color="primary" (click)="UnselectUsers()">
          &lt;
        </button>
      </div>
      <mat-card class="grow-column-height">
        <mat-selection-list>
          <mat-list-option
            *ngFor="let user of DbSelectedUsers"
            (selectedChange)="user.IsSelected = $event"
            [selected]="user.IsSelected"
          >
            {{ user.Value.email }}
          </mat-list-option>
          <mat-list-option
            class="selected-change-items"
            *ngFor="let user of UserToAddChange"
            (selectedChange)="user.IsSelected = $event"
            [selected]="user.IsSelected"
          >
            {{ user.Value.email }}
          </mat-list-option>
        </mat-selection-list>
      </mat-card>
    </div>
    <button type="submit" mat-raised-button color="primary" (click)="Submit()">
      Submit!
    </button></mat-card-content
  ></app-spinner-card
>
