.flex-row {
  display: flex;
  flex-direction: row;
}

.grow-column {
  flex-grow: 1;
  flex-basis: 0;
}

.column-height {
  min-height: 15rem;
  max-height: 15rem;
  overflow-y: auto;
}

.center-shrink-column {
  flex-shrink: 1;
  display: flex;
  flex-direction: columns;
  align-items: center;
}

.flex-filler {
  flex-grow: 1;
}

.flex-shrinker {
  flex-shrink: 1;
}

.selected-change-items {
  background-color: lightgoldenrodyellow;
}

.card-disabled {
  pointer-events: none;
  opacity: 0.5;
}
